@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgba(0,0,0,0);
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 150px;
    font-weight: 700;
}

.wrapper{
    font-size: 130px;
    font-weight: 700;
}

